.social-button a
  display: block;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  margin: 4px 0;
  &:hover
    background-color: var(--btn-hover-color);